body {
  /* background-color: #FCF8E8; */
  /* background: linear-gradient(#F0EBE3, #E4DCCF); */
  background-color: #F9F9F9;
  font-family: 'Oswald', sans-serif;
  background-repeat: repeat;
}


#wagon {
  text-decoration: none;
  color: rgb(91, 196, 144);
}

#wagon:hover {
  color: rgb(70, 152, 111);
}

.round {
  border-bottom-left-radius: 70px 80px;
  border-bottom-right-radius: 70px 80px;
  box-shadow: 1px 1px 1px #dad8d8;
}

.container {
  color: #413F42;
  position: relative;
  right: 100px
}

.description {
  font-size: 20;
}

h2 {
  margin-bottom: 0;
  background-color: #a5caa8;
  color: white;
  border-top-left-radius: 70px 80px;
  border-top-right-radius: 70px 80px;
}

p {
  font-size: 25;
}

button {
  border: none;
  background-color: #F9F9F9;
  margin-left: 1rem;
}

/* animations */

.fade-in {
  opacity: 0;
}

.fade-in-visible {
  opacity: 1;
  transition: opacity 2s ease-out, transform 1s;
}

.translate {
  transform: translate(100px);
  visibility: visible;
}
