body {
  /* background-color: #FCF8E8; */
  /* background: linear-gradient(#F0EBE3, #E4DCCF); */
  background-color: #F9F9F9;
  font-family: 'Oswald', sans-serif;
  background-image: url("ordi.png");
  background-repeat: repeat;
}

.round {
  border-bottom-left-radius: 70px 80px;
  border-bottom-right-radius: 70px 80px;
}

.container {
  color: #413F42;
  position: relative;
  right: 60px
}


h2 {
  margin-bottom: 0;
  background-color: #a5caa8;
  color: white;
  border-top-left-radius: 70px 80px;
  border-top-right-radius: 70px 80px;
}

.fade-in {
  opacity: 0;
}

.fade-in-visible {
  opacity: 1;
  transition: opacity 2s ease-out, transform 1s;
}

.translate {
  transform: translate(60px);
  visibility: visible;
}

p {
  font-size: 25;
}

.description {
  font-size: 20;
}
