.navbar {
  justify-content: space-between;
  background: #C1A3A3;
}

.navbar li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;

}

.grow {
  transition: transform 1s;
  transform: scale(1.25, 1.25);
}

.normal {
  transition: transform 1s;
  transform: scale(1, 1);
}
