.navbar {
  justify-content: space-between;
  background: #364639;
  padding: 0px;
}

.navbar li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}

.navbar li a:hover {
  color: white
}

.nav-link:focus {
  color: white
}

@media only screen and (min-width : 992px) {

  .grow {
    transition: transform 1s;
    transform: scale(1.15, 1.15);
    color : white

  }

  .normal {
    transition: transform 1s;
    transform: scale(1, 1);
  }
}
